.text{
    text-align: center;
    margin-top: 4rem;
    h1{
        font-size: 2.6rem;
        color: $Very-Dark-Desaturated-Violet;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }
    p{
        font-size: 1.1rem;
        padding: 0 1.8rem;
        margin-bottom: 4rem;
        line-height: 1.6rem;
        color: $Dark-Grayish-Violet;
    }

}